# SQL Connection Setup

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:Mysqlpw@localhost:3306/mavenfuzzyfactory

'Connected: root@mavenfuzzyfactory'

In [3]:
%%sql
USE mavenfuzzyfactory

 * mysql+pymysql://root:***@localhost:3306/mavenfuzzyfactory
0 rows affected.

[]

# ER Diagram

![ER Diagram](er_diagram.png)

# Tables Preview

## tables

In [4]:
%%sql
SHOW tables;

 * mysql+pymysql://root:***@localhost:3306/mavenfuzzyfactory
6 rows affected.

[('order_item_refunds',),
 ('order_items',),
 ('orders',),
 ('products',),
 ('website_pageviews',),
 ('website_sessions',)]

## order_item_refunds

In [5]:
%%sql
SELECT 
    *
FROM
    order_item_refunds
LIMIT 3

 * mysql+pymysql://root:***@localhost:3306/mavenfuzzyfactory
3 rows affected.

[(1, datetime.datetime(2012, 4, 6, 11, 32, 43), 57, 57, Decimal('49.99')),
 (2, datetime.datetime(2012, 4, 13, 1, 9, 43), 74, 74, Decimal('49.99')),
 (3, datetime.datetime(2012, 4, 15, 7, 3, 48), 71, 71, Decimal('49.99'))]

## order_items

In [6]:
%%sql
SELECT 
    *
FROM
    order_items
LIMIT 3

 * mysql+pymysql://root:***@localhost:3306/mavenfuzzyfactory
3 rows affected.

[(1, datetime.datetime(2012, 3, 19, 10, 42, 46), 1, 1, 1, Decimal('49.99'), Decimal('19.49')),
 (2, datetime.datetime(2012, 3, 19, 19, 27, 37), 2, 1, 1, Decimal('49.99'), Decimal('19.49')),
 (3, datetime.datetime(2012, 3, 20, 6, 44, 45), 3, 1, 1, Decimal('49.99'), Decimal('19.49'))]

%%sql
SELECT 
    *
FROM
    order_item_refunds
LIMIT 3

## orders

In [7]:
%%sql
SELECT 
    *
FROM
    orders
LIMIT 3

 * mysql+pymysql://root:***@localhost:3306/mavenfuzzyfactory
3 rows affected.

[(1, datetime.datetime(2012, 3, 19, 10, 42, 46), 20, 20, 1, 1, Decimal('49.99'), Decimal('19.49')),
 (2, datetime.datetime(2012, 3, 19, 19, 27, 37), 104, 104, 1, 1, Decimal('49.99'), Decimal('19.49')),
 (3, datetime.datetime(2012, 3, 20, 6, 44, 45), 147, 147, 1, 1, Decimal('49.99'), Decimal('19.49'))]

## products

In [8]:
%%sql
SELECT 
    *
FROM
    products
LIMIT 3

 * mysql+pymysql://root:***@localhost:3306/mavenfuzzyfactory
3 rows affected.

[(1, datetime.datetime(2012, 3, 19, 8, 0), 'The Original Mr. Fuzzy'),
 (2, datetime.datetime(2013, 1, 6, 13, 0), 'The Forever Love Bear'),
 (3, datetime.datetime(2013, 12, 12, 9, 0), 'The Birthday Sugar Panda')]

## website_pageviews

In [9]:
%%sql
SELECT 
    *
FROM
    website_pageviews
LIMIT 3

 * mysql+pymysql://root:***@localhost:3306/mavenfuzzyfactory
3 rows affected.

[(1, datetime.datetime(2012, 3, 19, 8, 4, 16), 1, '/home'),
 (2, datetime.datetime(2012, 3, 19, 8, 16, 49), 2, '/home'),
 (3, datetime.datetime(2012, 3, 19, 8, 26, 55), 3, '/home')]

## website_sessions

In [10]:
%%sql
SELECT 
    *
FROM
    website_sessions
LIMIT 3

 * mysql+pymysql://root:***@localhost:3306/mavenfuzzyfactory
3 rows affected.

[(1, datetime.datetime(2012, 3, 19, 8, 4, 16), 1, 0, 'gsearch', 'nonbrand', 'g_ad_1', 'mobile', 'https://www.gsearch.com'),
 (2, datetime.datetime(2012, 3, 19, 8, 16, 49), 2, 0, 'gsearch', 'nonbrand', 'g_ad_1', 'desktop', 'https://www.gsearch.com'),
 (3, datetime.datetime(2012, 3, 19, 8, 26, 55), 3, 0, 'gsearch', 'nonbrand', 'g_ad_1', 'desktop', 'https://www.gsearch.com')]